.DS_Store

.java-version

.idea
*.iml
target
classes

.babashka

.clj-kondo
!.clj-kondo/config.edn

.lsp
!.lsp/config.edn

.cache
.cpcache
.nrepl-port
.rebel_readline_history
node_modules
.dir-locals.el
pyrightconfig.json
*.egg-info
ignored

compile_commands.json
